body {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #6A6262;
    ;
    font-family: "Plus Jakarta Sans", sans-serif;
}


.main-wrapper {
    position: relative;
    overflow-x: hidden
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    color: #6A6262;
}

a:hover {
    text-decoration: none;
    color: #6A6262;
}

a:focus,
input:focus,
button:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

input {
    border: none
}

img {
    max-width: 100%;
    display: block
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0B0909;
    margin-bottom: 0;
}

h1,
.h1 {
    font-size: 64px;
    line-height: 110%;
}

h2,
.h2 {
    font-size: 48px;
    line-height: 100%;
}

h3,
.h3 {
    font-size: 28px;
    line-height: 30px;
}

h4,
.h4 {
    font-size: 26px;
    line-height: 32px;
}

h5,
.h5 {
    font-size: 22px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 16px;
    line-height: 24px;
}


p {
    margin-bottom: 16px;
}


p:last-child {
    margin-bottom: 0 !important;
}

button {
    border: none;
    transition: all 0.4s ease 0s;
    background: transparent
}

.container {
    max-width: 1240px
}

.container.wide {
    max-width: 1360px;
}

section,
.section {
    padding: 160px 0
}

.cta-btn {
    display: inline-block;
    border: 1px solid rgba(245, 41, 33, 0.16);
    padding: 10px 32px;
    border-radius: 28px;
    color: #fff;
}

.cta-btn:hover {
    color: #fff;
}

.btn_fill {
    background: #F52921;
    color: #fff;
    padding: 14px 32px;
    border-radius: 24px;
}

.btn_fill:hover {
    color: #fff
}

.section-heading .heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
    color: #0B0909;
}

.section-heading .title {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 100%;
    color: #F52921;
    margin-bottom: 16px
}

.section-heading p {
    margin-bottom: 56px !important
}

.title {
    color: #0B0909;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

/* 02. header css */
.header-top {
    background: #0B0909;
    padding: 16px 0
}

.header-top ul {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-top ul li {
    margin-left: 24px
}

.header-top ul li:first-child {
    margin-left: 0
}

.header-top ul li a {
    color: rgba(255, 255, 255, 0.72);
    font-size: 14px
}

.header_bg {
    background: #161212;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08)
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 8px 0
}

.header-menu ul li {
    display: inline-block;
    margin-right: 24px
}

.header-menu ul li:last-child {
    margin-right: 0
}

.header-menu ul li a {
    color: #fff
}

.header-logo {
    margin-right: 40px
}

/* 03. Hero css */
.hero-area {
    padding: 80px 0;
    background: #1D1919;
    ;
    position: relative;
    z-index: 99
}

.hero-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1
}

.hero-area::after {
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    left: 24%;
    top: 18%;
    border-radius: 400px;
    background: rgba(245, 41, 33, 0.24);
    filter: blur(200px);
    z-index: -9;
}

.hero-text .text {
    font-size: 52px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 40px;
    color: #fff
}

.hero-text p {
    margin-left: 24px;
    padding-left: 40px;
    border-left: 2px solid #F52921;
    color: rgba(255, 255, 255, 0.72);
    line-height: 180%;
    margin-bottom: 40px !important;
}

.hero-action .cta-btn {
    border: 1px solid rgba(255, 255, 255, 0.16);
    background: rgba(255, 255, 255, 0.02);
    margin-left: 16px
}

.hero-img {
    position: absolute;
    top: 150px;
}

.hero-img img {
    border-radius: 48px;
    width: 100%
}

.hero-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: -8px;
    top: -8px;
    border: 2px solid #fff;
    border-radius: 48px
}

/* 04. Counter css */
.counter-area {
    padding: 80px 0;
    background: #50CB8B;
}

.counter-inn {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.single-counter-box .counter {
    font-size: 52px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 16px;
    display: block;
    line-height: 100%
}

.single-counter-box p {
    color: rgba(255, 255, 255, 0.72)
}

/* 05. About css */

.about-top {
    display: flex;
    justify-content: space-between
}

.about-video-inn {
    position: relative;
}

.about-video-box img {
    width: 100%;
    border-radius: 80px
}

.about-video-inn .vdo-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    padding: 24px;
}

/* 06. Team css */
.team-area {
    padding-bottom: 60px
}

.single-team-box {
    margin-bottom: 40px
}

.single-team-box img {
    width: 100%;
    border-radius: 40px;
    margin-bottom: 24px
}

.single-team-box .title {
    margin-bottom: 8px;
}


/* 06. Service css */
.service-area {
    border-radius: 40px 40px 0px 0px;
    background: #0B0909;
}

.service-area .section-heading .heading {
    color: #fff
}

.service-area .section-heading p {
    color: rgba(255, 255, 255, 0.72)
}

.single-service-box {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(80, 203, 139, 0.16);
}

.single-service-box:last-child {
    margin-bottom: 0
}

.single-service-box .title {
    color: #fff;
    margin-bottom: 8px
}

.single-service-box p {
    color: rgba(255, 255, 255, 0.72)
}

.service_ct-area {
    position: relative;
    z-index: 1;
    margin-bottom: 160px
}

.service_ct-area::before {
    position: absolute;
    content: "";
    width: 32%;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
    background: rgba(255, 255, 255, 0.08);
    right: 0;
    bottom: 0;
}

.service_ct-bg {
    position: absolute;
    right: 0;
    bottom: 32px;
    width: 42%;
    height: 70%;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.service_it-area {
    position: relative;
    z-index: 1;
}

.service_it-bg {
    position: absolute;
    left: 0;
    bottom: 32px;
    width: 42%;
    height: 70%;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}

.service_it-area::before {
    position: absolute;
    content: "";
    width: 32%;
    height: 100%;
    border-radius: 0px 40px 40px 0px;
    background: rgba(255, 255, 255, 0.08);
    left: 0;
    bottom: 0;
}

.service-ct-action {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #F52921;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    padding-top: 36px;
    left: -60px;
    top: -60px;
}

.service-it-action {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #F52921;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    padding-top: 36px;
    right: -60px;
    top: -60px;
}

.service-ct-action span,
.service-it-action span {
    display: block;
    color: #fff
}

.service-area .service-text {
    position: relative
}

.service_ct-shape {
    position: absolute;
    left: -55%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 400px;
    color: rgba(255, 255, 255, 0.04);
    font-weight: 700;
    font-variant-numeric: lining-nums tabular-nums;
}

.service_it-shape {
    position: absolute;
    right: -55%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 400px;
    color: rgba(255, 255, 255, 0.04);
    font-weight: 700;
    font-variant-numeric: lining-nums tabular-nums;
}

.single-clients-logo {
    margin-bottom: 80px;
    text-align: center
}

.single-clients-logo a {
    display: inline-block
}

.single-clients-logo img {
    margin: 0 auto;
}

.clients-action .cta-btn {
    color: #F52921;
    border: 1px solid rgba(245, 41, 33, 0.16);
    background: rgba(245, 41, 33, 0.02);
}

/* 07. Testimonial css */
.testimonial-area {
    background: #F6F4F4;
}

.single-testimonial-box {
    padding: 24px;
    background: #fff;
    border-radius: 40px;
}

.testimonial-box-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px
}

.testimonial-box-img .main-img {
    width: 80px;
    height: 80px;
    border-radius: 50%
}

.testimonial-box-text .title {
    margin-bottom: 8px
}

.testimonial-box-text span {
    color: #BAB5B5;
    margin-bottom: 24px;
    display: block
}

.testimonial-box-text p {
    color: #6A6262;
    ;
    line-height: 180%
}

/* 08. Choose css */
.choose-area {
    background: rgba(245, 41, 33, 0.16)
}

.single-choose-box {
    border-radius: 40px;
    background: linear-gradient(216deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    padding: 24px;
    transition: all 0.2s ease
}

.choose-box-img img {
    display: inline-block;
    margin-left: auto
}

.choose-box-text .title {
    margin: 16px 0
}

.single-choose-box:hover {
    background: #fff
}

/* 09. Founder css */
.founder-area {
    position: relative
}

.founder-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 60%;
    z-index: -1
}

.founder-right {
    position: relative
}

.founder-shape {
    position: absolute;
    right: -15%;
    top: 0;
    z-index: -1;
}

.founder-left-img img {
    border-radius: 40px;
    width: 100%
}

.founder-right-info {
    position: relative
}

.founder-right-info::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    top: -28px;
    left: 0;
    background: linear-gradient(90deg, rgba(245, 41, 33, 0.16) 0%, rgba(245, 41, 33, 0.00) 100%);
}

/* 10. Contact css */
.contact-area{
    position: relative;
    overflow: hidden
}
.contact-inn {
    position: relative
}

.contact-inn::before {
    position: absolute;
    content: "";
    width: 800px;
    height: 800px;
    background: rgba(245, 41, 33, 0.16);
    filter: blur(400px);
    left: -16%;
    top: -24%;
    z-index: -1
}

.single-contact-box {
    display: flex;
    align-items: center;
    padding: 24px;
    position: relative
}

.single-contact-box::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(245, 41, 33, 0.16) 0%, rgba(245, 41, 33, 0.00) 100%);
}
.single-contact-box span {
    margin-right: 16px;
    display: inline-block
}
.contact-main-form .col-lg-12{
    border-bottom: 1px solid rgba(11, 9, 9, 0.08);  
     padding: 16px 40px
}
.contact-main-form .col-lg-12:last-child{
    padding: 0 40px;
    border: none
}
.contact-main-form label{
    display: block;
    font-size: 12px;
    color: #BAB5B5;
    margin-bottom: 8px
}
.contact-main-form input{
    color: #0B0909;
}
.contact-main-form .contact-query p{
    font-size: 12px;
    color: #BAB5B5;
    margin-bottom: 8px
}
.contact-main-form .contact-query span input {
    display: none
}

.contact-main-form .contact-query span label {
    padding: 10px 32px;
    border-radius: 28px;
    border: 1px solid rgba(11, 9, 9, 0.24);
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
}

.contact-query span input:checked ~ label {
    border: 1px solid #672AF4;
    background: rgba(103, 42, 244, 0.08);
    color: #672AF4
}
.contact-main-form textarea{
    width: 100%;
    border: none;
    padding: none
}
.contact-main-form button{
    width: 100%;
    margin-top: 24px
}

/* 11. newsletter css */
.newsletter-area{
    position: relative
}
.newsletter-area::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 50%;
    top: 0;
    background: #0B0909;
    z-index: -1;
}
.newsletter-inn{
    border-radius: 40px 0px 0px 40px;
background: #0B0909;
    padding: 80px 40px;
}

.newsletter-area .section-heading .heading{
    color: #fff;
    margin-bottom: 0
}

.newsletter-form input {
    width: 100%;
    border-radius: 32px;
    background: rgba(255, 255, 255, 0.08);
    padding: 16px 164px 16px 24px;
}
.newsletter-form{
    position: relative
}
.newsletter-form .btn_fill {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 32px;
    border-radius: 28px;
}
/* 12. newsletter css */
.footer-area{
    padding: 80px 0
}
.footer-heading{
    padding-bottom: 40px;
    margin-bottom: 40px;
    position: relative
}
.footer-heading::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(245, 41, 33, 0.16) 0%, rgba(245, 41, 33, 0.00) 100%)
}
.footer-heading a{
    display: inline-block;
    margin-bottom: 40px
}
.footer-contact ul li{
    display: block;
    margin-bottom: 16px
}
.footer-contact ul li:last-child{
    margin-bottom: 0
}
.footer-contact ul li a,
.footer-contact ul li span{
    display: inline-block;
    position: relative;
    color: #672AF4;
    text-decoration: underline
}
.footer-contact ul li a::before, .footer-contact ul li span::before {
    position: absolute;
    right: -29px;
    top: 4px;
    content: "";
    background-image: url(../img/Send.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 22px;
    height: 22px;
}
.footer-social{
    margin-top: 40px
}
.footer-social ul li{
    display: inline-block;
    margin-right: 8px;
}
.footer-social ul li a{
     width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    border: 1px solid #E4E2E2
}
.footer-social ul li img{
    width: 100%;
    border-radius: 50%
}



